server {
        listen 80;
        listen [::]:80;
        server_name YOURSITENAME.TLD;
        rewrite ^(.*) https://$host$1 permanent;
}

server {
        server_name YOURSITENAME.TLD;
        listen 443 ssl http2;

        ssl on;

        root /path/to/your/artifacts;
        index index.php index.html index.htm;

        access_log /var/log/nginx/YOURSITENAME/access.log;
        error_log /var/log/nginx/YOURSITENAME/error.log;

        location ~ \.htaccess { # Support for legacy apache config
                deny all;
        }

        location / {
                try_files $uri $uri/ @rewrite;
        }

        location @rewrite {
                rewrite ^/(.*)$ /index.php;
        }

        location ~ \.php$ {
                include /etc/nginx/fastcgi_params;

                fastcgi_pass  127.0.0.1:9000;
                fastcgi_index index.php;

                fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;

                try_files $uri @rewrite;
        }
}

